@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: rgb(22, 22, 20); */
  background: linear-gradient(-45deg, #030303, #333031, #3b494e, #191f1d);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.mono-text {
  font-family: ' Impact', monospace;
}

.mono-color {
  color: #d4be42;
}

.section-padding {
  padding: 80px 0;
}   